@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url("./Oswald-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url("./EBGaramond-Regular.ttf") format("ttf");
}